body {
    background-color: #110041;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Aqui comienza el HEADER */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
}
/* Icono menu navegación */
#header > i {
    font-size: 2rem;
    color: aliceblue;
}
/* Logo billetera */
#header > img {
    margin-left: 3%;
    width: 30px;
    height: 30px;
}
/* Modo DIURNO-NOCTURNO */
.switch > span > i {
    font-size: 1.3rem;
}
/* Aqui termina el HEADER */

/* Aqui comienza el display de montos */
.displaydiv {
    margin: 1rem;;
    height: 35vh;
    border-radius: 30px;
    border: 1px solid #000;
    background-image: linear-gradient(to right bottom, #5937e1, #b832c3, #e44da9, #f9759b, #ff9f9e, #ffa69e, #ffaea0, #ff9d92, #ff8388, #ff6684, #fc4386);
    background-size: 400%;
    animation: cambiar 5s linear infinite;
}

@keyframes cambiar {
0%{background-position: 0 50%;}
50%{background-position: 100% 50%;}
100%{background-position: 0 50%;}
}
.tituloDisponible {
    text-align: center;
}
#disponible {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.display2 {
    display: flex;
    justify-content: space-around;
    height: 3rem;
    margin-bottom: 0;
    
}
.display3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    height: 4rem;
    margin-top: 0;
    margin-top: 0;;
    
}
/*#totalIngresos {

}
#totalGastos {
    
}*/

/* Aqui comienzan los botones para agregar dinero o gastos */
.botones {
    display: flex;
    justify-content: center;
}
.btn1 {
    margin: 0 0.3rem 1rem 1rem;
    width: 49%;
    padding: 1rem;
    border-radius: 20px;
    background-color: #291a54;
    color: #fff;
    letter-spacing: 1px;
}
.btn2 {
    margin: 0 1rem 1rem 0.3rem;
    width: 49%;
    padding: 1rem;
    border-radius: 20px;
    background-color: #291a54;
    color: #fff;
    letter-spacing: 2px;
}
/* Aqui comienza la seccion de movimientos */
.movimientos {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 100vh;
    margin: 1rem;
}
.movimientos > p {
    color: #fff;
    margin-top: 0;
    flex-grow: 1;
}
.movimientos > a {
    color: #874ed9;
    text-decoration: none;
}
