body {
    background-color: #110041;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    transition: 1s ease all;
}

/* Aqui comienza el HEADER */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
}
/* Icono menu navegación */
#header > i {
    font-size: 2rem;
    color: #f1f1f1;
    margin-left: 8%;
}
#header > i:hover {
    cursor: pointer;
}
/* Logo billetera */
#header > a {
    margin-left: 2%;
}
#header > a > img {
    width: 30px;
    height: 30px;
}
.navbar {
    display:none;
}
/* Aqui empieza el Modo DIURNO-NOCTURNO */
.switch {
    background: #443a6F;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    margin-right: 3%;
}
.switch > span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}
.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3 ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}
.active::after {
    left: unset;
    right: 0;
}
.dark {
    background: #f1f1f1;
    transition: 1s ease all;
}
body.dark .movimientos > p {
    color: #000;
}
body.dark #header > i {
    color: #000;
}
body.dark .tituloDisponible {
    color: #000;
}
body.dark h3 {
    color: #000;
    text-shadow:none;
}
body.dark #totalIngresos {
    text-shadow:none;
    color: #000;
}
body.dark #totalGastos {
    text-shadow:none;
    color: #000;
}
body.dark #disponible {
    color: #000;
    text-shadow: 2px 1px 1px #000;
}
body.dark label {
    color: #000;
}
/* DISEÑO BOTONES MODO DIURNO-NOCTURNO */
body.dark .btn1  {
    background-image: linear-gradient(to right bottom, #5937e1, #b832c3, #e44da9, #f9759b, #ff9f9e, #ffa69e, #ffaea0, #ff9d92, #ff8388, #ff6684, #fc4386);
    color: #000;
    background-size: 400%;
    animation: cambiar 5s linear infinite;
}

body.dark .btn2 {
    background-image: linear-gradient(to right bottom, #5937e1, #b832c3, #e44da9, #f9759b, #ff9f9e, #ffa69e, #ffaea0, #ff9d92, #ff8388, #ff6684, #fc4386);
    color: #000;
    background-size: 400%;
    animation: cambiar 5s linear infinite;
}
body.dark .btn1:hover {
    background-image: none;
    background-color: rgba(99, 211, 24, 1);
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0;
    text-shadow: 1px 1px 1px #000;
}
body.dark .btn2:hover {
    background-image: none;
    background-color: rgba(241, 59, 59, 1);
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0;
    text-shadow: 1px 1px 1px #000;
}
body.dark .navbar > a {
    color: #000;
}

/* aqui termina el modo diurno-nocturno */

/* Aqui termina el HEADER */

/* Aqui comienza el display de montos */

.displaydiv {
    margin: 1rem;;
    height: 35vh;
    border-radius: 30px;
    border: 1px solid #000;
    background-image: linear-gradient(to right bottom, #5937e1, #b832c3, #e44da9, #f9759b, #ff9f9e, #ffa69e, #ffaea0, #ff9d92, #ff8388, #ff6684, #fc4386);
    background-size: 400%;
    animation: cambiar 5s linear infinite;
}

@keyframes cambiar {
0%{background-position: 0 50%;}
50%{background-position: 100% 50%;}
100%{background-position: 0 50%;}
}
/* Primer Sombra del display */
#sombra1 {
    position: relative;
    margin: -0.9rem 3% 1rem 3%;
    height: 2rem;
    border-radius: 30px;
    background-color: #aa4870;
    z-index: -1;
}
/* Segunda Sombra del display */
#sombra2 {
    position: relative;
    margin: -2.5rem 5% 1rem 5%;
    height: 2rem;
    border-radius: 30px;
    background-color: #572356;
    z-index: -2;
}
/* Primer H3 -> DISPONIBLE */
.tituloDisponible {
    text-align: center;
    color: #fff;
}
#disponible {
    text-align: center;
    font-size: 3.3rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: #fff;
    text-shadow: 2px 1px 1px #000;
}
/* Modificacion de los valores en $ */
#totalIngresos {
    text-shadow: 2px 1px 1px #000;
}
#totalGastos {
    text-shadow: 2px 1px 1px #000;
}
/* Muestra el "Total Ingresos y Total Gastos" */
.display2 {
    display: flex;
    justify-content: space-around;
    height: 3rem;
    margin-bottom: 0;
    color: #fff;
}

/* Muestra el monto de "Total Ingresos y Total Gastos" */
.display3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    height: 4rem;
    margin-top: 0;
    margin-top: 0;;
    color: #fff;
}
/*#totalIngresos {

}
#totalGastos {
    
}*/

/* Aqui comienzan los botones para agregar dinero o gastos */
.botones {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
/* Boton "AGREGAR DINERO" y su HOVER*/
.btn1 {
    margin: 0 0.3rem 1rem 1rem;
    width: 49%;
    padding: 1rem;
    border-radius: 20px;
    background-color: #291a54;
    color: #fff;
    letter-spacing: 1px;
    transition: .3s ease all;
}
.btn1:hover {
    background-color: rgba(0, 255, 0, 0.38);
    cursor: pointer;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px #000;
}
/* Boton "AGREGAR GASTO" y su HOVER */
.btn2 {
    margin: 0 1rem 1rem 0.3rem;
    width: 49%;
    padding: 1rem;
    border-radius: 20px;
    background-color: #291a54;
    color: #fff;
    letter-spacing: 1px;
    transition: .3s ease all;
}
.btn2:hover {
    background-color: rgba(255, 0, 0, 0.42);
    cursor: pointer;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px #000;
}
/* aqui terminan los botones */

/* Aqui comienza la seccion de movimientos */
.mov {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 2rem;
    margin: 1rem;
}
.mov > p {
    color: #fff;
    margin-top: 0;
    flex-grow: 1;
}
.mov > a {
    color: #874ed9;
    text-decoration: none;
}
.inputs {
    display:none;
}
/* MEDIA QUERY PARA TABLET/NOTEBOOKS/PC ESCRITORIO */

@media screen and (min-width: 640px) {
    #header {
        height: 4rem;
    }
    #header > i {
        display: none;
    }

    .botones {
        display: none;
    }
    .inputs {
        display: flex;
        padding-top: 1rem;
        margin: 1rem 2%;
        justify-content: space-around;
    }
    .inputIngreso {
        width: 35%;
        display: flex;
        border: 3px solid #000;
        border-radius: 30px;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        background-image: linear-gradient(to right bottom, #5937e1, #b832c3, #e44da9, #f9759b, #ff9f9e, #ffa69e, #ffaea0, #ff9d92, #ff8388, #ff6684, #fc4386);
        background-size: 400%;
        animation: cambiar 5s linear infinite;
    }
    .inputGasto {
        width: 40%;
        display: flex;
        border: 3px solid #000;
        border-radius: 30px;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        background-image: linear-gradient(to right bottom, #5937e1, #b832c3, #e44da9, #f9759b, #ff9f9e, #ffa69e, #ffaea0, #ff9d92, #ff8388, #ff6684, #fc4386);
        background-size: 400%;
        animation: cambiar 5s linear infinite;
    }
    .inputIngreso > label, .inputGasto > label {
        color: #f1f1f1;
        padding-bottom: 0.5rem;
        font-size: 1.5rem;
    }
    .inputIngreso > input, .inputsGastos > input {
        border: 0px solid #000;
        border-radius: 30px;
        background: none;
        padding: 1rem;
    }
    input::placeholder {
        font-size: 1.5rem;
        text-align: center;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    #btnGasto {
        border-radius: 5px;
        padding: .4rem .6rem;
    }
   
    /* Muestra CALCULADORA, HISTORIAL Y CUENTA y su HOVER*/
    .navbar {
        display: block;
    }
    .navbar > a {
        text-decoration: none;
        color: #f1f1f1;
        padding: 10px 25px;
        transition: .3s ease all;
    }
    .navbar > a:hover {
        text-shadow: 1px 1px 1px #fff;
        font-size: 1.5rem;
    }
    /* Agranda las letras para una mejor visualizacion */
    h3 {
        font-size: 1.5rem;
        height: 2rem;
    }
    h2 {
        height: 2rem;
    }
    #sombra1 {
        margin: -0.4rem 3% 1rem 3%;
    }
    .btn1 {
        font-size: 1.5rem;
    }
    .btn2 {
        font-size: 1.5rem;
    }
    .movimientos p, a {
        font-size: 1.4rem;
    }
    .imprimir {
        display: flex;
        justify-content: space-around;
        color: #f1f1f1;
        padding: 0.5rem;
        text-transform: uppercase;
    }
  }